<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
</head>

<script type="text/javascript">
    if ((/Mobi|Android/i.test(navigator.userAgent))) {
        window.location.href = '<%- android %>';
    }
    else if (/Mobi|iPad|iPhone|iPod/i.test(navigator.userAgent)) {
        window.location.href = '<%- ios %>';
    }
    else {
        window.location.href = '<%- other %>';
    }

</script>

<body>

</body>



</html>
